@page "/fetchdata"
@inject InterviewApp.Client.Services.Interface.IInterviewService InterviewService

@using InterviewApp.Shared.Models

<h1>Weather forecast</h1>
<p>This component demonstrates fetching data from the server.</p>

@if (dataset != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Difficulty</th>
                <th>Rating</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in dataset)
            {
                <tr>
                    <td>@data.Category</td>
                    <td>@data.Difficulty</td>
                    <td>@data.Rating</td>
                    <td>@data.Content</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<InterviewQuestion>? dataset;

    protected override async Task OnInitializedAsync()
    {
        dataset = await InterviewService.GetInterviewQuestions();
    }
}