
.search .mud-input-label {
    background-color: var(--mud-palette-background);
}

.mud-expand-panel-content .question-detail .float-left {
    margin-right: 20px;
    display: inline-block;
}

.mud-expand-panel-content .question-detail .float-right {
    display: inline-block;
    float: right;
}

.mud-expand-panel-content .question-detail .float-left p span {
    margin-bottom: 2px;
}

.mud-expand-panel-content p {
    margin-bottom: 10px;
}

    .mud-expand-panel-content p.question {
        text-align: justify;
    }

.mud-expand-panel-content span.tag {
    display: block;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #a0a0a0;
}

.expansion-panel-section {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: #a0a0a0;
}

.expand-icon {
    padding: 2px 8px !important;
    transition: opacity ease-in-out .175s !important;
}

    .expand-icon:hover {
        background-color: transparent !important;
        opacity: 0.5 !important;
    }

.question-icon {
    margin-top: 2px;
    font-size: 22px;
    opacity: 0.33;
}

    .question-icon.difficulty {
        color: #ef5350;
    }

    .question-icon.rating {
        color: #ffa726;
    }

    .question-icon.active {
        opacity: 1;
    }

.note-dialog .mud-dialog-content,
.report-dialog .mud-dialog-content {
    padding: 0 24px 8px 24px !important;
}

.absolute-tooltip {
    top: 12px !important;
}

.mud-tooltip-root.mud-tooltip-inline {
    float: right;
}

.expand-rating-icon {
    float: right;
    color: #ccc;
}

.mud-appbar .mud-select .mud-input-control .mud-input .mud-input-adornment .mud-icon-root.mud-icon-default {
    fill: rgba(255,255,255, 0.70);
}

.mud-appbar .mud-select .mud-input-control .mud-input .mud-input-root.mud-input-slot {
    color: rgba(255,255,255, 0.70);
}

.mud-appbar .mud-select .mud-input-control .mud-input .mud-input-outlined-border {
    border: none;
    background: rgba(255,255,255,0.2);
}

.mud-appbar .mud-input-control .mud-input-label.mud-input-label-animated {
    background: transparent;
}

.mud-appbar .mud-button-root.mud-icon-button {
    color: rgba(255,255,255,0.7);
}

.mud-appbar .flex-grow-1 {
    flex-grow: 0.5 !important;
}

.mud-appbar .mud-select.mud-autocomplete {
    padding-bottom: 2px;
}

.remove-primary-color .mud-list .mud-list-item.mud-selected-item {
    color: #fff;
    background-color: rgba(11,47,53,0.7);
}

@media (max-width: 385px) {
    .mud-expand-panel-content .question-detail .float-right {
        float: left;
    }

    .mud-expand-panel-content .mud-grid-item-sm-4 {
        padding-bottom: 0 !important;
    }

    .mud-expand-panel-content .mud-grid-item-sm-8 {
        padding-top: 0 !important;
    }

        .mud-expand-panel-content .mud-grid-item-sm-8 .float-right.mr-6 {
            padding-top: 6px;
        }
}
